<%- include('partials/header') -%>
<main class="container">
  <!-- <div class="row justify-content-around mt-5">
    <a href="/login" class="col-3 btn btn-primary"> Login</a>
    <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
  </div> -->
</main>

<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h3 class="text-2xl font-thin">Welcome to</h3>

      <h1 class="text-7xl font-bold">Cinegram</h1>
      <p class="py-6">A place for movie lovers!</p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <form class="card-body">
        <div class="form-control mt-6">
          <a href="/login" class="col-3 btn btn-primary"> Log in</a>
          <a href="/signup" class="btn w-100 rounded-full">Sign Up</a>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
